* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: var(--font-playfair-display), serif;
  font-style: italic;
  font-weight: 200 !important;
}

:global(body) {
  padding-top: 110px;
}

@media (max-width: 768px) {
  :global(body) {
    padding-top: 100px;
  }
}